%section#intro

  = image_tag "cordova.png", class: "half"
  = image_tag "angular.png", class: "half"
  %h3 MBC: WebApps mit Cordova und Angular

  %p
    = File.mtime(__FILE__).strftime("%d.%m.%Y")

%section
  %section
    %h2 Motivation
  %section
    %ul
      %li App als sinnvolle Ergänzung für den Nutzer
      %li API bereits vorhanden
      %li Interesse an Angular und Ember

  %section
    %ul
      %li HTML, CSS, JS
      %li keine Kenntnisse des nativen Frameworks nötig
      %li mehrere Platformen unterstützen

%section
  %section
    %h2 Technologien
  %section
    %h3 Cordova/Phonegap
  %section
    %h3 Ratchet

%section
  %section
    %h3 Angular.js
    %ul
      %li JS-Framework
      %li seit 2009
      %li Features: Dependency-Injection, 2-way-data-binding, MVC
  %section
    %h4 Warum Angular?
    %ul
      %li Ratchets Navigation nicht ausreichend
      %li Angular: Reichhaltiges Ökosystem
      %li
        = link_to 'http://eviltrout.com/2013/06/15/ember-vs-angular.html' do
          Angular vs. Ember
        %br
        %small Can.js, Backbone.js, jQuery mobile ebenfalls ausprobiert
  %section
    %h3 Middleman/Coffeescript/Sass
    %ul
      %li
        Middleman: Buildtool für statische Websites
        %small aus dem Rubyland (Alternativ: Yeoman)
      %li
        + Nutzung von alternativen Templatesprachen
        %br
        %small
          Slim, Haml
      %li
        + .. JS/CSS Alternativen (CoffeeScript, Sass, ...)
        %br
        %small nicht Thema dieses Vortrags
      %li
        + Minification
  %section
    %h3 Serverseitige API
    %p Interessante Apps sprechen i.d.R. mit einem Service
    %p Im Vorfeld: Gedanken zur Authentifizierung
  %section
    %ul
      %li
        Dokumentation + Konventionen der API i.A. ("Restful", Hypermedia)
        %small Grape/swagger &rarr; Dokumentation und Beispiele automatisch generieren
      %li.fragment
        Transportsicherheit
        %br
        %small https &rarr; Zertifikate
      %li.fragment
        API Calls public oder nur durch App verwendbar?
        %br
        %small Hartgegossener API-Key...
      %li.fragment
        Können sich Nutzer anmelden?  &rarr; Oauth2
        %small Dann will man vielleicht keine Passwörter speichern sondern sich per oauth ein Token bauen
      %li.fragment Rate-Limitations angebracht?

  %section
    %h3 Beispiel-Code
    .column
      = image_tag "angular-example.png"
    .column
      %p Beispiel: Share-Button auf einer Stellenanzeige
      %ul
        %li HTML View (Angular)
        %li JS-Controller (Angular)
        %li Cordova Interaktion
  %section

    = highlight do
      :plain
        <ul class="table-view" ng-if="job">
          <li class="table-view-cell">
            {{job.title}}
          </li>
          <li class="table-view-cell">
            <p>
              <button class="btn-block btn btn-small" ng-click="share()">
                <span class="icon-share icon"></span>
                <span>Teilen</span>
              </button>
            </p>
          </li>
        </ul>
  %section
    = highlight do
      :plain
        window.App = angular.module('ebmobile', ['ngRoute','ngResource','...'])
        App.config(function($routeProvider) {
          $routeProvider.when('/job/:jobId', {
            templateUrl: 'html/job.html',
            controller: 'JobController'
          })
        })
  %section
    = highlight do
      :plain
        App.controller('JobController', function($scope, Job, $routeParams) {
          $scope.job = null;
          Job.get({
            id: $routeParams.jobId
          }, function(data) {
            $scope.job = data;
          });
          $scope.share = function() {
            var message = {
               subject: $scope.job.title,
               url: $scope.job.url
            };
            window.socialmessage.send(message);
          };
        });




%section
  %section
    %h2 App-Vorstellung
%section
  %section
    %h2 Conclusion

%section
  %h2 Shameless self-promotion

  .column
    %ul.fa-ul(style='list-style-type: none')
      %li
        %span.fa.fa-github.fa-li
        %a(href='https://github.com/pebra') pebra
      %li
        %span.fa.fa-twitter.fa-li
        %a(href='https://twitter.com/pebrabb') @pebrabb
      %li
        %span.fa.fa-home.fa-li
        %a(href='http://pebra.net') pebra.net
  .column

    %ul.fa-ul(style='list-style-type: none')
      %li
        %span.fa.fa-github.fa-li
        %a(href='https://github.com/zealot128') zealot128
      %li
        %span.fa.fa-twitter.fa-li
        %a(href='https://twitter.com/stefanwienert') @stefanwienert
      %li
        %span.fa.fa-home.fa-li
        %a(href='http://stefanwienert.de') stefanwienert.de

