%section#intro

  = image_tag "cordova.png", class: "half"
  = image_tag "angular.png", class: "half"
  %h3 MBC: WebApps mit Cordova und Angular

  %p
    = File.mtime(__FILE__).strftime("%d.%m.%Y")

%section
  %h2 Disclaimer
  = image_tag 'dog.jpg'

%section
  %section
    %h2 Motivation

  %section
    %h2 Ausgangspunkt
    %h4 Jobportal ohne mobile Ansicht

  %section
    %h3 App als sinnvolle Ergänzung für den Nutzer

  %section
    %ul
      %li konkrete Jobangebote suchen
      %li Jobs im Umkreis suchen
      %li Merklisten erstellen und weiterleiten

  %section
    %ul
      %li API für Suchanfragen bereits vorhanden
      %li Interesse an AngularJS und EmberJS
      %li begrenzte Ressourcen(Zeit, Personal)
      %li Wunsch nach Android + iOS(mindestens)

  %section
    %h3 Entscheidung für Apache Cordova

%section
  %section
    = image_tag "cordova.png", class: "no-border"

  %section
    %ul
      %li aus Phonegap entstanden
      %li Apache Projekt &rarr; Open Source
      %li Ist jetzt die Basis von Phonegap

  %section
    = image_tag "all_the_devices.jpg", class: "no-border"

  %section
    %ul
      %li Android, iOS, OSX, Tizen
      %li Windows, Phone 7/8, Ubuntu
      %li WebOS, FirefoxOS, Blackberry

  %section
    %h3 Bis jetzt nur Android bei uns

  %section
    = image_tag "sad_panda.jpg", class: "no-border"

  %section
    %ul
      %li keine Kenntnisse des nativen Frameworks nötig(Android, iOS...)
      %li HTML, CSS, JS
      %li gesamter Build-Prozess von der Kommandozeile möglich &rarr; Automation

%section
  %section
    %h3 Angular.js
    %ul
      %li JS-Framework von Google
      %li seit 2009
      %li
        Features:
        %br
        <abbr title='Dependency-Injection'>DI</abbr>, 2-way-data-binding, MVVC, HTML als Templating
  %section
    %h4 Warum Angular?
    %ul
      %li Ratchets Navigation nicht ausreichend
      %li Angular: Reichhaltiges Ökosystem
      %li
        = link_to 'http://eviltrout.com/2013/06/15/ember-vs-angular.html' do
          Angular vs. Ember
        %br
        %small Can.js, Backbone.js, jQuery Mobile ebenfalls ausprobiert

%section
  %section
    %h2 Ratchet
    = image_tag "ratchet.png", class: "no-border"
  %section
    %ul
      %li Stylesheets nach dem Vorbild der iOS- und Android-Styles
      %li unter anderem entwickelt von @fat &rarr; Twitter Bootstrap
      %li iOS Styles gut, Android ein bisschen sehr grau
%section
  %h2 weinre
  = image_tag "weinre-demo.jpg", class: "no-border"


%section
  %section
    %h3 Middleman/Coffeescript/Sass
    %ul
      %li
        Middleman: Buildtool für statische Websites
        %small aus dem Rubyland (Alternativ: Yeoman)
      %li
        + Nutzung von alternativen Templatesprachen
        %br
        %small
          Slim, Haml
      %li
        + .. JS/CSS Alternativen (CoffeeScript, Sass, ...)
        %br
        %small nicht Thema dieses Vortrags
      %li
        + Minification
  %section
    %h3 Serverseitige API
    %p Interessante Apps sprechen i.d.R. mit einem Service
    %p Im Vorfeld: Gedanken zur Authentifizierung
    %p AJAX &rarr; JSONP/CORS
  %section
    %ul
      %li
        Dokumentation + Konventionen der API i.A. ("Restful", Hypermedia)
        %small Grape/swagger &rarr; Dokumentation und Beispiele automatisch generieren
      %li.fragment
        Transportsicherheit
        %br
        %small https &rarr; Zertifikate
      %li.fragment
        API Calls public oder nur durch App verwendbar?
        %br
        %small Hartgegossener API-Key...
      %li.fragment
        Können sich Nutzer anmelden?  &rarr; Oauth2
        %small Dann will man vielleicht keine Passwörter speichern sondern sich per oauth ein Token bauen
      %li.fragment Rate-Limitations angebracht?

  %section
    %h3 Beispiel-Code
    .column
      = image_tag "angular-example.png"
    .column
      %p Beispiel: Share-Button auf einer Stellenanzeige
      %ul
        %li HTML View (Angular)
        %li JS-Controller (Angular)
        %li Cordova Interaktion
  %section

    = highlight do
      :plain
        <ul class="table-view" ng-if="job">
          <li class="table-view-cell">
            {{job.title}}
          </li>
          <li class="table-view-cell">
            <p>
              <button class="btn-block btn btn-small" ng-click="share()">
                <span class="icon-share icon"></span>
                <span>Teilen</span>
              </button>
            </p>
          </li>
        </ul>
  %section
    = highlight do
      :plain
        window.App = angular.module('ebmobile', ['ngRoute','ngResource','...'])
        App.config(function($routeProvider) {
          $routeProvider.when('/job/:jobId', {
            templateUrl: 'html/job.html',
            controller: 'JobController'
          })
        })
  %section
    = highlight do
      :plain
        App.controller('JobController', function($scope, Job, $routeParams) {
          $scope.job = null;
          Job.get({
            id: $routeParams.jobId
          }, function(data) {
            $scope.job = data;
          });
          $scope.share = function() {
            var message = {
               subject: $scope.job.title,
               url: $scope.job.url
            };
            window.socialmessage.send(message);
          };
        });
  %section
    %h2 JavaScript FFI
    = highlight do
      :plain
        SocialMessage.prototype.send = function (message) {
            cordova.exec(null, null, "SocialMessage", "send", [message]);
        };
  %section
    %h2 Java
    = highlight do
      :plain
        // ...
        public class SocialMessage extends CordovaPlugin {
          @Override
          public boolean execute(String action, JSONArray args, CallbackContext callbackContext) throws JSONException {
            // ...
            final Intent sendIntent = new Intent(android.content.Intent.ACTION_SEND);
            // ...
            cordova.startActivityForResult(this, sendIntent, 0);
        }

%section
  %section
    %h2 App-Vorstellung
%section
  %section
    %h2 Next
    %ul
      %li Notifications via GCM/APN
      %li iOS-App
      %li Bugfixes in unbekannten Android Versionen
  %section
    %h2 Fazit
    %ul
      %li
        +Angular und Cordova machen Spaß
        %br
        %small Reichhaltige und vertrautes Ökosysteme &ndash; Tools wie Weinre, Bower, Phantomjs zur Hand
      %li.fragment
        +Effektive Entwicklung
        %br
        %small ~600 Zeilen CoffeeScript Code, dank Weinre und einfachem Build leicht debugbar
      %li.fragment
        +/- Bekannte Limitierungen von Cordova
        %br
        %small Hintergrundaktivitäten
      %li.fragment
        \- Ratchet ausbaufähig, insbes. Quirks zwischen Android-Versionen
        %br
        %small Erfahrungen? Iconicframework?
  %section
    .column
      %h2 Was nutzt Ihr?
      %ul
        %li Titanium
        %li Iconicframework
        %li AppGyver
        %li Native
        %li ...
    .column
      = image_tag 'choices.jpg'

%section
  %h2 Shameless self-promotion

  .column
    = image_tag 'peter.jpg',  style: 'width: 150px'
    %br
    %ul.fa-ul(style='list-style-type: none')
      %li
        %span.fa.fa-github.fa-li
        %a(href='https://github.com/pebra') pebra
      %li
        %span.fa.fa-twitter.fa-li
        %a(href='https://twitter.com/pebrabb') @pebrabb
      %li
        %span.fa.fa-home.fa-li
        %a(href='http://pebra.net') pebra.net
  .column
    = image_tag 'stefan.jpg',  style: 'width: 150px'
    %br
    %ul.fa-ul(style='list-style-type: none')
      %li
        %span.fa.fa-github.fa-li
        %a(href='https://github.com/zealot128') zealot128
      %li
        %span.fa.fa-twitter.fa-li
        %a(href='https://twitter.com/stefanwienert') @stefanwienert
      %li
        %span.fa.fa-home.fa-li
        %a(href='http://stefanwienert.de') stefanwienert.de

